# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "3429aedd1043f2bcd577d109717e9bc4"
name = "UI"
application_url = "https://ana-spencer-dsl-visibility.trycloudflare.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products,read_products,write_discounts,read_discounts"

[auth]
redirect_urls = [ "https://ana-spencer-dsl-visibility.trycloudflare.com/api/auth" ]
