# Production configuration
# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "3429aedd1043f2bcd577d109717e9bc4"
name = "UI"
# UPDATE THIS: Set your production application URL here
application_url = "https://test-7zw4.onrender.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products,read_products,write_discounts,read_discounts"

[auth]
# UPDATE THIS: Add your production auth callback URL
redirect_urls = [ "https://test-7zw4.onrender.com/auth/callback" ]
